body {
      font-family: 'Roboto', sans-serif;
      background-color: rgb(13, 37, 65);
      margin: 0;
      padding: 0;
      color: black;
 }
 
 header {
       width: 300px;
       height: 1000px;
       background-color: rgb(27, 32, 80);
       margin-top: -25px;
       margin-left: 50px;
 }
 
 .logo-tag {
       font-size: 30px;
       color: white;
       padding-top: 20px;
       margin-bottom: 400px;
       margin-left: 40px;
 }
 
 .nav-list, li {
       color: white;
       list-style: none;
       font-size: 18px;
       margin-top: 15px;
 }
 
 .nav-list, li:hover {
       color: grey;
 }
 
 .my-block > h4 {
       color: red;
       font-size: 17px;
       margin-top: 250px;
       margin-left: 40px;
 }
 
 .name-tag {
       font-size: 40px;
       margin-left: 40px;
       margin-top: -15px;
 
 }
 
 .my-block > hr {
       width: 50px;
       border-color: red;
       position: absolute;
       top: 400px;
       left: 40px;
 }
 
 .my-text {
       font-size: 20px;
       margin-top: 70px;
       margin-left: 40px;
 }
 
 .btn-modal {
       width: 700px;
       height: 60px;
       background-color: red;
       font-size: 20px;
       position: absolute;
       top: 930px;
       left: 1100px;
       border: none;
       background-color: rgb(27, 32, 80);
       color: white;
 }
 
 .btn-1 {
       width: 700px;
       height: 60px;
       background-color: red;
       font-size: 20px;
       position: absolute;
       top: 930px;
       left: 400px;
       border: none;
       color: white;
 }
 
 img {
       position: absolute;
       left: 500px;
       top: 0;
 }
 
 main {
       background-color: #fff;
 }
 
 .my-block {
       height: 900px;
       position: absolute;
       top: 30px;
       left: 400px;
       background-color: #fff;
       width: 1300px;
 }
 
 .my-section {
       background-color: #fff;
 }
 
 .about-tag {
       font-size: 40px;
 }

 .about-us {
      position: absolute;
      top: 0;
       background-color: white;
       font-size: 25px;
 }

 .my-services {
      position: absolute;
      top: 0;
       background-color: white;
       font-size: 25px;
 }

 .contact-us {
      position: absolute;
      top: 0;
      background-color: white;
      font-size: 25px;
}
.portfolio {
      position: absolute;
      top: 0;
      background-color: white;
      font-size: 25px;
}
 
 .about-block > hr {
       width: 40px;
       border-color: red;
       position: relative;
       right:900px;
 }
 
 .job-text {
       font-size: 20px;
 }
 
 .about-me-text {
       font-size: 15px;
 }
 
 .about-block {
       margin-left: 50px;
 }
 
 .rating-container {
       margin-left: 50px;
 }

 .modal {
      position: absolute;
      top: 500px;
      left: 500px;
      z-index: 1;
       background-color: black;
       text-align: center;
       width: 340px;
       height: 300px;
 }

.black {
      color: white;
      background-color: black;
}

 .button {
       width: 150px;
       height: 40px;
       background-color: red;
       font-size: 17px;
       color: white;
 }

 input[type="text"] {
       width: 250px;
       height: 30px;
       margin-top: 20px;
 }

h2 {
      color: white;
}

 .btn-close {
      width: 150px;
      height: 40px;
      background-color: white;
      margin-top: 30px;
      border: none;
}

.show {
      display: block;
}

.hide {
      display: none;
}

.active {
      background-color: red;
}

.success-tag {
      color: white;
      margin-top: 50px;
}


@media all and (max-width: 500px) {
      header {
            display: none;
      }

      .my-block {
           left: 0;
           width: 484px;
           height: 500px;
      }

      .btn-1 {
            width: 235px;
            position: none;
            left: 0;
      }

      .btn-modal {
            width: 250px;
            left: 234px;
            background-color: lightblue;
      }

       
 .about-block {
      margin-top:990px;
}

      img {
            display:none;
      }
}

